.navbar {
	background: #2271b3 !important;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#020202, #3f4144) !important;
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#020202, #3f4144) !important;
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#020202, #3f4144) !important;
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#494646, #070719) !important;
	/* Standard syntax (must be last) */
}

/* Color para las opciones del menu en el primer nivel */
div.sidebar-nav.navbar-collapse > ul.nav > li.dropdown > a{
	/*background:#020202!important;*/
}

/* Color para las opciones del menu en el segundo nivel */
ul.nav.nav-second-level > li > a{
	background: #2271b3 !important;
}

/* Color para las opciones del menu en el tercer nivel */
ul.nav.nav-third-level > li > a{
	background: #f8f8f8 !important;
	color: black !important;
	text-shadow: none !important;
	text-decoration: none !important;
}

li.dropdown>a {
	color: white !important;
	text-shadow: none !important;
	text-decoration: none !important;
}

.nav .open>a {
	background:#2271b3 !important;
}

/* Color del hover para las opciones del menu en el primer nivel */
div.sidebar-nav.navbar-collapse > ul.nav > li.dropdown > a:hover{
	background: #2271b3 !important;
}

/* Color del hover para las opciones del menu en el segundo nivel */
ul.nav.nav-second-level > li > a:hover{
	background: #2271b3!important;
}

/* Color del hover para las opciones del menu en el tercer nivel */
ul.nav.nav-third-level > li > a:hover{
	background: #2271b3 !important;
	color: white !important;
}

.nav>li>a:focus, .nav>li>a:hover {
	background: #2271b3 !important;
}

.nav .dropdown-menu {
	background: white !important;
}

.dropdown-menu {
	border-radius: 0 px !important;
}

.navbar-toggle {
	margin-top: 0px;
	margin-bottom: 0px;
}

#wrapper {
	width: 100%;
	height: 100%;
}

#page-wrapper {
	padding: 0 15px;
	height: auto !important;
	min-height: 100% !important;
	background-color: white;
}