<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
</head>
<body>
	Bienvenido a Sistema de Pagos Electrónicos ESCOM:
	
	<p>
		Nombre: ${usuario}
	</p>
	</br>
	<p>
		PAra ingresar al sistema <a href="${urlActivation}">aquí</a>
	</p>
	
</body>
</html>