<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
</head>
<body>
		Reciba un cordial saldo ${usuario}, el corte de caja se ha realizado con fecha ${fechaEnvio}.

	<p>
		Para ingresar al sistema <a href="${urlNotifiaciones}">aquí</a>
	</p>
</body>
</html>