<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
</head>
<body>
		Hola ${usuario}, tu pago por concepto de ${conceptoPago}, ha sido autorizado por caja.

	<p>
		Para ingresar al sistema <a href="${urlNotifiaciones}">aquí</a>
	</p>
</body>
</html>