<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
</head>
<body>
	Tu pago por concepto de xxxx ha sido rechazado el día xxx a las xxxx por motivo de xxx
	Si tienes alguna duda favor de comunicarse a xxx con xxx
</body>
</html>