<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
</head>
<body>
	Felicidades tu pago por concepto de xxx ha sido autorizado.
	si tienes alguna duda favor de comunicarte al xxxx ext xxx
</body>
</html>