<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
</head>
<body>
	Se ha recibido un comprobante de pago a las xxx horas el día xxxx de el xxx xxx
</body>
</html>